h1 {
  color: rgb(107, 44, 162);
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper{
  margin: 12vh auto 0 auto;
}

#landing-images  {
  text-align: center;
  p{
    text-align: center;
    font-weight: bold;
    font-size: 23px;
  };
  img {
    width: 312px;
    height: 200px;
  }

}


